.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  background-image: url(/symbol.png);
  background-repeat: repeat;
  height: 100%;
}